@font-face {
	font-family: "SFPro";
	src: url("../fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYHEAVYITALIC.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYSEMIBOLDITALIC.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYTHINITALIC.OTF");
	src: url("../fonts/sf-pro-display/SFPRODISPLAYULTRALIGHTITALIC.OTF");
}

