# Si un controlleur s'appelle par example auth.php , utiliser juste "auth"
Options -MultiViews

RewriteEngine On

# Ne pas directement afficher les dossiers
Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
